<div id="brooklyn">
<div class="boroData">
<h1>Underperforming Brooklyn Schools</h1>
<h5>Schools with graduation rates less than the national average (84%)</h5>
<p></p>
<% @data['schools'].each do | school |%>
    <% if school['boro'] == "K" %>
    <p class="schoolHdr"><%= school['school_name'] %></p>
    <ul>
    <li><strong>Address:</strong> <%= school['location'] %> </li>
    <li><strong>Neighborhood:</strong> <%= school['neighborhood'] %> </li>
    <li><strong>Number of Students:</strong> <%= school['total_students'] %> </li>
    <li><strong>Attendance Rate:</strong> <%= school['attendance_rate'] %> </li>
    <li><strong>Graduation Rate:</strong> <%= school['graduation_rate'] %> </li>
    <li><strong>Website:</strong> <%= school['website'] %> </li>
    <li><strong>Email:</strong> <%= school['school_email'] %> </li>
    <li><strong>Phone:</strong> <%= school['phone_number'] %> </li>
    </ul>
      <hr/>
    <% end %>
<% end %>
</div>
</div>
    